html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif;
}